body {
  font-family: 'Kanit', Arial, sans-serif;
}
.font-kanit {
  font-family: 'Kanit', Arial, sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat Alternates', Arial, sans-serif;
}
@import "tailwindcss";
