@font-face {
  font-family: 'Kanit';
  src: url('/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: url('/fonts/Kanit/Kanit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Kanit', 'Montserrat Alternates', Arial, sans-serif;
}
